@model User
<div class=" container">
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success">@TempData["SuccessMessage"]</div>
 
	}
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}
	@if(ViewBag.ErrorMessage != null)

	{
		<div class="alert alert-danger">@ViewBag.ErrorMessage</div>}

</div>
<div class=" card-body">
	<form asp-action="Login" method="post">
		@Html.AntiForgeryToken()
		<div class="container mt-5">
			<h2 class="text-primary" style="color:#112d40">Login</h2>
			<div class="mb-3">
				<label asp-for="Username" class="form-label"> UserName</label>
				<input asp-for="Username" type="text" class="form-control" required  placeholder="Enter username"/>
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label">Password</label>
				<input asp-for="Password" type="password" class="form-control" required placeholder="Enter password" />
				<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div>
				<button type="submit" class="btn btn-success">Login</button>
				<a asp-action="Register" class="btn btn-primary">Register</a>
				</div>
		</div>
	</form>
</div>
<script></script>